<div class="container index-question">
  <div class="row">
    <div class="col-sm-2">
      <div class="col-sm-6">
        <p class="text-center totals"><%= question.vote_totals %></p>
        <p class="text-center">votes</p>
      </div>
      <div class="col-sm-6 answers">
        <p class="text-center totals"><%= question.answers.count %></p>
        <p class="text-center">answers</p>
      </div>
    </div>
    <div class="col-10 question-title">
      <a href=<%= "/questions/#{question.id}" %>><h1><%= question.title %></h1></a>
    </div>
    <div class="col-10 pull-right author">
      <p><%= "posted by: #{question.author}" %></p>
    </div>
  </div>
</div>